.modal.fade#calendarChoose(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
  .modal-dialog
    .modal-content
      .modal-header
        .modal-header
          button.close.hideCalendarChoose
            span &times;
          h4.modal-title เปลี่ยนแปลงเวลาออกตรวจ
        .modal-body 
          .choose เลือกช่วงเวลา
          button.dcmorning.list-group-item(data='morning' type='button' style='margin-bottom: 10px') เช้า
          button.dcnoon.list-group-item(data='noon' type='button') บ่าย
        .modal-footer
          button.btn.btn-primary.ChooseCalendar save
            
