include ./head
<<<<<<< HEAD
div.body
	h1 Doctor Calendar
	<ul class="nav nav-tabs"><li  class="active" ><a href="/doctor/patient/macro">Home</a></li>
	<li ><a href="/doctor">Patient List</a></li></ul>

=======
<ul class="nav nav-tabs"><li  class="active" ><a href="/doctor/patient/macro">Home</a></li>
<li ><a href="/doctor">Patient List</a></li></ul>
include ./calendar
>>>>>>> 13b9379a2c818ca18bec84ed18250a29a0175c63
