include ./head
div.body
	h1 Doctor Calendar
	<ul class="nav nav-tabs"><li  class="active" ><a href="/doctor/patient/macro">Home</a></li>
	<li ><a href="/doctor">Patient List</a></li></ul>
include ./calendar
