include ./head
nav.navbar.navbar-default
        div
          ul.nav.navbar-nav
            li.active
              a(href="/doctor/patient/macro") Home
            li
              a(href="/doctor") Patient List
        .container-fluid
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#')
                span.glyphicon.glyphicon-log-in
                |  Logout

include ./calendar
