html
  head
    title=page
    link(rel='stylesheet' type='text/css' href='../../dist/normalize.css')
    link(rel='stylesheet' type='text/css' href='../../dist/style.css')
    link(rel="stylesheet" href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')


    //-bootstrap
    link(href="css/bootstrap.min.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="css/bootstrap-responsive.min.css" rel="stylesheet")

    //-login css & js
    link(href="dist/login.css" rel="stylesheet")
    script(src="dist/login.js")

    //-bootstrap datepicker
    script(src="/js/bootstrap.js")
    script(src="/js/bootstrap-datepicker.js")
    link(href="/css/datepicker.css" rel="stylesheet")


    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    link()

  body
    if typeof account === undefined
      div #{account.name}
      div #{account.id}
      //- div #{!unauthenedPage}
      hr
      <!-- Latest compiled and minified CSS -->
