html
  head
    title=page
    link(rel='stylesheet' type='text/css' href='../dist/normalize.css')
    link(rel='stylesheet' type='text/css' href='../dist/style.css')
  body
    if typeof account === undefined
      div #{account.name}
      div #{account.id}
      //- div #{!unauthenedPage}
      hr
