html
  head
    title=page
    //- link(rel='stylesheet' type='text/css' href='../../dist/normalize.css')
    // link(rel='stylesheet' type='text/css' href='../../dist/style.css')
    link(rel='stylesheet' type='text/css' href='../../dist/css/doctor.css')
    // link(rel="stylesheet" href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css') 


    //- script(src="https://ajax.googleapifs.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src='../../dist/js/lib/jquery-1.11.3.min.js')
    //- script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src="../../dist/js/lodash.min.js")
    script(src="../../dist/js/moment.js")
    script(src="../../dist/js/clndr.js")
    link(rel='stylesheet' type='text/css' href='../../dist/css/normalize.css')
    link(rel='stylesheet' type='text/css' href='../../dist/css/style.css')
    link(rel='stylesheet' type='text/css' href='../../dist/css/calendar.css')
    //- link(rel="stylesheet" href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')


    //- script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")


    //-bootstrap
    link(href='../../dist/css/lib/bootstrap.min.css' rel="stylesheet" type='text/css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    //-login css & js
    link(href="../../dist/css/login.css" rel="stylesheet")
    script(src="../../dist/js/login.js")

    //-paitent css
    link(href="../../dist/css/patient.css" rel="stylesheet")

    //-bootstrap datepicker
    script(src='../../dist/js/lib/bootstrap.js')
    script(src='../../dist/js/lib/bootstrap-datepicker.js')
    link(href='../../dist/css/lib/datepicker.css' rel="stylesheet" type='text/css')

    //-pharmacist css
    link(href='../../dist/css/pharmacist.css' rel="stylesheet" type='text/css')
    script(src='../../dist/js/pharmacist.js')


  
    link()
  body

  .row.header
    .col-xs-6
      img(src='../../dist/image/Hospital_Logo.png' style="padding: 20 0 0 20 ")
    .col-xs-6
      div(style="padding: 30")
        p(style='text-align:right ; font-size: 17; color:#666666') บุญจิรา อังสุมาลี
        p(style='text-align:right ; font-size: 17;color:#666666;') 1999222333443
        
        if typeof account === undefined
          div #{account.name}
          div #{account.id}
          //- div #{!unauthenedPage}
          hr
      <!-- Latest compiled and minified CSS -->
