html
  head
    title=page
    link(rel='stylesheet' type='text/css' href='../../dist/normalize.css')
    link(rel='stylesheet' type='text/css' href='../../dist/style.css')
    link(rel="stylesheet" href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
  body
    if typeof account === undefined
      div #{account.name}
      div #{account.id}
      //- div #{!unauthenedPage}
      hr
      <!-- Latest compiled and minified CSS -->
