include ./head
h1 hospitalStaff

      .row
        .col-md-5.col-md-offset-3
          .panel.panel-login
            .panel-heading
             ul.nav.nav-tabs
              li.active
                a(data-toggle='tab', href='#pAppMan') Patient Appointment Maneger
              li
                a(data-toggle='tab', href='#impDocSch') Import Doctor Schedule
             .tab-content
              #pAppMan.tab-pane.fade.in.active
                br
                .row
                 .col-md-6.col-md-offset-3
                  input#CitizenID.form-control(type='text', name='citizenId', tabindex='1', placeholder='Patient CitizenID')
                .row
                 .col-md-8.col-md-offset-7
                    br
                    #pam.button.btn.btn-success.btn-lg(type='button', data-toggle='modal', data-target='#PamModal') summit

                    
           // pam Modal
      #PamModal.modal.fade(role='dialog')
          .modal-dialog.modal-lg
          .modal-content
             .modal-header
               button.close(type='button', data-dismiss='modal') ×
               h4.modal-title Patient Appointment Manager
             .modal-body
             br                    