include ./head
h1 hospitalStaff

             //- .row
             //-   .col-md-5.col-md-offset-3
          .panel.panel-login
            .panel-heading
             ul.nav.nav-tabs
              li.active
                a(data-toggle='tab', href='#pAppMan') Patient Appointment Maneger
              li
                a(data-toggle='tab', href='#impDocSch') Import Doctor Schedule
             .tab-content
              #pAppMan.tab-pane.fade.in.active
                br
                .row
                 .col-md-6.col-md-offset-3
                   input#CitizenID.form-control(type='text', name='citizenId', tabindex='1', placeholder='Patient CitizenID')
                .row
                 .col-md-8.col-md-offset-7
                    br
                    #pam.button.btn.btn-success.btn-me(type='button', data-toggle='modal', data-target='#PamModal') summit

                    
                // pam Modal
           #PamModal.modal.fade(role='dialog')
            .modal-dialog.modal-lg
            .modal-content
             .modal-header
               button.close(type='button', data-dismiss='modal') ×
               h4.modal-title Patient Appointment Manager
             .modal-body
              br
              .row
                #makehs.button.btn.btn-info.btn-md(type='button', data-toggle='modal', data-target='#makeModalhs') Make Appointment
              .row
               .col-md-8.col-md-offset-2
                .panel.panel-default
                 .row
                  #appane.panel-body.col-sm-8(style="margin: 0 0 0 20;") ไทย
                  .col-sm-3
                    .row
                      #postponehs.button.btn.btn-success.btn-pc.btn-md(type='button', data-toggle='modal', data-target='#PostponeModalhs') Postpone
                    .row
                      #cancelhs.button.btn.btn-warning.btn-pc.btn-md(type='button', data-toggle='modal', data-target='#CancelModalhs') Cancel
                    

              .row
               .col-md-8.col-md-offset-2
                .panel.panel-default
                 .row
                  #appane.panel-body.col-sm-8(style="margin: 0 0 0 20;") ไทย
                  .col-sm-3
                   .row
                     #postpone.btn.btn-success.btn-pc.col Postpone
                   .row
                     #cancel.btn.btn-warning.btn-pc Cancel
             .modal-footer
               button.btn.btn-default.btn-cancel(type='button', data-dismiss='modal') Close
                 




           #makeModalhs.modal.fade(role='dialog')
            .modal-dialog.modal-lg
             .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title Make New Appointment
              .modal-body

                 //h2 Vertical (basic) Form
                 form(role='form')
                 .form-group
                   label(for='Symtom') Symtom:
                   input#Symtom.form-control(type='text', placeholder='กรอกอาการป่วย')
                 .form-group
                   label(for='Cause') Cause:
                   input#Cause.form-control(type='text', placeholder='กรอกสาเหตุหากมี')
                 .form-group
                   label(for='Doctor') Doctor Name:
                   input#Docname.form-control(type='text', placeholder='ในกรณีที่ต้องการระบุแพทย์ที่ต้องการพบ')
                
                 .form-group
                   label(for='sel1') Department (select one):
                   select#sel1.form-control
                     option อายุรกรรม
                     option ศัลยกรรม
                     option กุมารเวชกรรม
                     option สูตินรีเวช
                     option ทันตกรรม
                     option เวชปฎิบัติ
                     option แพทย์เฉพาะทางอื่นๆ
                 

              
                 input#depart.form-control(type='text', placeholder='ในกรณีที่ต้องการระบุแพทย์เฉพาะทางอื่นๆ')

                 //.form-group
                   label(for='pwd') Password:
                   input#pwd.form-control(type='password', placeholder='Enter password')
                

              .modal-footer
                //button.btn.btn-default(type='submit') Submit
                #ChooseTime.button.btn.btn-default.btn-lg(type='button', data-toggle='modal', data-dismiss='modal', data-target='#PostponeModal') Submit
                button.btn.btn-default(type='button', data-dismiss='modal') Close










