include ./head


             //- .row
             //-   .col-md-5.col-md-offset-3
br
br
.container
      .row
        .col-md-8.col-md-offset-2
          .panel.panel-login
            .panel-heading
             ul.nav.nav-tabs
              li.active
                a(data-toggle='tab', href='#pAppMan') Patient Appointment Maneger
              li
                a(data-toggle='tab', href='#impDocSch') Import Doctor Schedule
             .tab-content

              #pAppMan.tab-pane.fade.in.active
                br
                br
                .row
                 .col-md-8.col-md-offset-2
                   input#CitizenID.form-control(type='text', name='citizenId', tabindex='1', placeholder='Patient CitizenID')
                .row
                 .col-md-8.col-md-offset-7
                    br
                    #pam.button.btn.btn-success.btn-me(type='button', data-toggle='modal', data-target='#PamModal') summit
              #impDocSch.tab-pane.fade.in
                br
                br
                .row
                 .col-md-8.col-md-offset-2
                   input#DocName.form-control(type='text', name='citizenId', tabindex='1', placeholder='Doctor Name')
                .row
                 .col-md-8.col-md-offset-7
                    br
                    #pam.button.btn.btn-success.btn-me(type='button', data-toggle='modal', data-target='#DocCalModal') summit
                    

                    
                // pam Modal
         #PamModal.modal.fade(role='dialog')
          .modal-dialog.modal-lg
            .modal-content
             .modal-header
               button.close(type='button', data-dismiss='modal') ×
               h4.modal-title Patient Appointment Manager
             .modal-body
              
              .row
                #makehs.button.btn.btn-info.btn-md(type='button', data-toggle='modal', data-target='#makeModalhs',style="float: right ;margin:0 20 0 10;") Add +
              br
          
              .row
               .col-md-8.col-md-offset-2
                .panel.panel-default
                 .row
                  #appane.panel-body.col-sm-8(style="margin: 0 0 0 20;")
                   .row(style="margin: 0 0 0 10;")
                     .col-md-2 เวลา
                     .col-xs-1 :
                     .col-md-5#time.color-grey 10 : 00
                   .row(style="margin: 0 0 0 10;")
                    .col-md-2 วันที่
                    .col-xs-1 :
                    .col-md-5#date.color-grey 25 / 12 / 58
                   .row(style="margin: 0 0 0 10;")
                    .col-md-2 แผนก
                    .col-xs-1 :
                    .col-md-5#department.color-grey อายุรกรรม
                   .row(style="margin: 0 0 0 10;")
                    .col-md-2 แพทย์
                    .col-xs-1 :
                    .col-md-5#doctor.color-grey พญ.ไพลิน จินดามณี
                  .col-sm-3
                   .row
                    #postpone.button.btn.btn-postpone.btn-pc.btn-md(type='button', data-toggle='modal', data-target='#PostponeModalhs') Postpone
                    //#postpone.btn.btn-success.btn-pc.col Postpone
                   .row
                    //#cancel.btn.btn-warning.btn-pc Cancel
                    #cancel.button.btn.btn-cancel.btn-pc.btn-md(type='button', data-toggle='modal', data-target='#CancelModalhs') Cancel
                    

              .row
               .col-md-8.col-md-offset-2
                .panel.panel-default
                 .row
                  #appane.panel-body.col-sm-8(style="margin: 0 0 0 20;")
                   .row(style="margin: 0 0 0 10;")
                     .col-md-2 เวลา
                     .col-xs-1 :
                     .col-md-5#time.color-grey 10 : 00
                   .row(style="margin: 0 0 0 10;")
                    .col-md-2 วันที่
                    .col-xs-1 :
                    .col-md-5#date.color-grey 25 / 12 / 58
                   .row(style="margin: 0 0 0 10;")
                    .col-md-2 แผนก
                    .col-xs-1 :
                    .col-md-5#department.color-grey อายุรกรรม
                   .row(style="margin: 0 0 0 10;")
                    .col-md-2 แพทย์
                    .col-xs-1 :
                    .col-md-5#doctor.color-grey พญ.ไพลิน จินดามณี
                  .col-sm-3
                   .row
                    #postpone.button.btn.btn-postpone.btn-pc.btn-md(type='button', data-toggle='modal', data-target='#PostponeModalhs') Postpone
                    //#postpone.btn.btn-success.btn-pc.col Postpone
                   .row
                    //#cancel.btn.btn-warning.btn-pc Cancel
                    #cancel.button.btn.btn-cancel.btn-pc.btn-md(type='button', data-toggle='modal', data-target='#CancelModalhs') Cancel
             .modal-footer
               button.btn.btn-default(type='button', data-dismiss='modal') Close
                 




         #makeModalhs.modal.fade(role='dialog')
            .modal-dialog.modal-lg
             .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title Make New Appointment
              .modal-body

                 //h2 Vertical (basic) Form
                 form(role='form')
                 .form-group
                   label(for='Symtom') Symtom:
                   input#Symtom.form-control(type='text', placeholder='กรอกอาการป่วย')
                 .form-group
                   label(for='Cause') Cause:
                   input#Cause.form-control(type='text', placeholder='กรอกสาเหตุหากมี')
                 .form-group
                   label(for='Doctor') Doctor Name:
                   input#Docname.form-control(type='text', placeholder='ในกรณีที่ต้องการระบุแพทย์ที่ต้องการพบ')
                
                 .form-group
                   label(for='sel1') Department (select one):
                   select#sel1.form-control
                     option อายุรกรรม
                     option ศัลยกรรม
                     option กุมารเวชกรรม
                     option สูตินรีเวช
                     option ทันตกรรม
                     option เวชปฎิบัติ
                     option แพทย์เฉพาะทางอื่นๆ
                 

              
                 input#depart.form-control(type='text', placeholder='ในกรณีที่ต้องการระบุแพทย์เฉพาะทางอื่นๆ')

                
              .modal-footer
                //button.btn.btn-default(type='submit') Submit
                #ChooseTime.button.btn.btn-default.btn-md(type='button', data-toggle='modal', data-dismiss='modal', data-target='#PostponeModalhs') Submit
                button.btn.btn-default(type='button', data-dismiss='modal') Close
          
                 // postpone Modal
         #PostponeModalhs.modal.fade(role='dialog')
            .modal-dialog.modal-md
             .modal-content
              .modal-header
               button.close(type='button', data-dismiss='modal') ×
               h4.modal-title Choose Appointment Time
              .modal-body
                h4.modaltitle 
                 //h2 Vertical (basic) Form
                
          
                
                
              
                #listotherdate.list-group.addspace
                  label เวลานัดหมายที่เร็วที่สุด :
                  button.list-group-item(type='button') d1/m1/1111
                  br
                  label เวลานัดหมายอื่นๆ :
                  button.list-group-item(style="margin-bottom: 10px", type='button') d2/m2/2222
                  button.list-group-item(style="margin-bottom: 10px",type='button') d3/m3/3333
                  button.list-group-item(type='button') d4/m4/3333
                  
              .modal-footer
               button.btn.btn-default(type='submit') Submit
               button.btn.btn-default(type='button', data-dismiss='modal') Close

              // Cancle Modal
         #CancelModalhs.modal.fade(role='dialog')
            .modal-dialog.modal-lg
             .modal-content
              .modal-header
               button.close(type='button', data-dismiss='modal') x
               h4.modal-title Confirm to Cancel Appointment
              .modal-body
                h4.modal-title Confirm to Cancel Appointment
                #date.p Appointment Detail
                  
              .modal-footer
               button.btn.btn-default(type='submit') Submit
               button.btn.btn-default(type='button', data-dismiss='modal') Close 

               //DocCal Modal
         #DocCalModal.modal.fade(role='dialog')
            .modal-dialog.modal-lg
             .modal-content
              .modal-header
               button.close(type='button', data-dismiss='modal') x
               h4.modal-title Doctor Calendar
              .modal-body
                  .panel.panel-login
                     .calendar
                 script.calendarTemplate(type="text/template")
                     .clndr
                       .row
                         .clndr-controls.btn-group
                           button.clndr-previous-button.btn.btn-default previous <
                           button.mounth.btn.btn-default <%= month %> <%= year %>
                           button.clndr-next-button.btn.btn-default > next
                       table.clndr-grid.table
                         .days-of-the-weeks.days.
                           <% _.each(daysOfTheWeek, function(day) { %>
                           <span class="cell header-day sus"><%= day %></span>
                           <% }); %>
                         .days
                           <% _.each(days, function(day) { %>
                           <span class="cell <%= day.classes %><%if (typeof day.events[0] != 'undefined'){%>                    ${day.events[0].period} <% }%><%if (typeof day.events[1] != 'undefined'){%> ${day.events[1].period} <% }%>"><%= day.day %></span>
                           <% if(parseInt(day.day)%7===0) {%> <br> <%} }); %>
                 script(src='../../dist/js/doctor-Calendar.js') 
                  
              .modal-footer
               button.btn.btn-default(type='submit') Submit
               button.btn.btn-default(type='button', data-dismiss='modal') Close 









