include ./head
//include ./headuser

h1 login
//- .container
//-  .row
//-   .col-md-6.col-md-offset-3
//-    .panel
//-     .panel-heading
//-      .row
//-       .col-xs-6
//-        a#login-form-link.active Login
//-       .col-xs-6
//-        a#register-form-link Register
//-        hr
//-     .panel-body
//-      .col-lg-2.col-lg-offset-2
//-       input(type='text' placeholder="Username")
//-      .row
//-       .col-lg-2.col-lg-offset-2
//-        input(type='password' placeholder="Password")
//-      .row
//-       .col-lg-2.col-lg-offset-2
//-        button#signin sign in
.container
      .row
        .col-md-6.col-md-offset-3
          .panel.panel-login
            .panel-heading
             ul.nav.nav-tabs
              li.active
                a(data-toggle='tab', href='#login') Login
              li
                a(data-toggle='tab', href='#regis') Register
             .tab-content
              #login.tab-pane.fade.in.active
                   br
                   input#username.form-control(type='text', name='username', tabindex='1', placeholder='Username')
                   br
                    
                   input#password.form-control(type='password', name='password', tabindex='2', placeholder='Password')
                   br
                  
                   
                   .row
                     .col-sm-6.col-sm-offset-3
                       input#login-submit.form-control.btn.btn-login(type='submit', name='login-submit', tabindex='4', value='Log In')

              #regis.tab-pane.fade
                       br
                       input#name.form-control(type='text', name='username', placeholder='Name')
                       br
                       input#surname.form-control(type='text', name='username', placeholder='Surname')
                       br
                       input#dateofbirth.form-control.datepicker(type='text', name='username', placeholder='  Date of birth (Select Date)')
                       br
                       input#tel.form-control(type='text', name='username', placeholder='Telophone Number')
                       br
                       input#citizenid.form-control(type='text', name='username', placeholder='Citizen ID')
                       br
                       input#email.form-control(type='email', name='email', placeholder='Email Address')
                       br
                     
                       input#password.form-control(type='password', name='password', placeholder='Password')
                       br
                       input#confirm-password.form-control(type='password', name='confirm-password', placeholder='Confirm Password')
                       br
                       .row
                         .col-sm-6.col-sm-offset-3
                           input#register-submit.form-control.btn.btn-register(type='submit', name='register-submit', tabindex='4', value='Register Now')
                
              
            //-   .row
            //-     .col-xs-6
            //-       a#login-form-link.active(href='#') Login
            //-     .col-xs-6
            //-       a#register-form-link(href='#') Register
            //-   hr
            //- .panel-body

 //-              .row
 //-               .col-lg-12
 //-                ul.nav.nav-pills
 //-                 li
 //-                  a.active(href="#") Login
 //-                   form#login-form(action='http://phpoll.com/login/process', method='post', role='form', style='display: block;')
 //-                     .form-group
 //-                       input#username.form-control(type='text', name='username', tabindex='1', placeholder='Username', value='')
 //-                     .form-group
 //-                       input#password.form-control(type='password', name='password', tabindex='2', placeholder='Password')
                  
 //-                     .form-group
 //-                       .row
 //-                         .col-sm-6.col-sm-offset-3
 //-                          input#login-submit.form-control.btn.btn-login(type='submit', name='login-submit', tabindex='4', value='Log In')
 //-                     .form-group
    
 //-                  a(href="#") Register
                   //- form#register-form(action='http://phpoll.com/register/process', method='post', role='form', style='display: none;')
                   //-   .form-group
                   //-     input#username.form-control(type='text', name='username', tabindex='1', placeholder='Username', value='')
                   //-   .form-group
                   //-     input#email.form-control(type='email', name='email', tabindex='1', placeholder='Email Address', value='')
                   //-   .form-group
                   //-     input#password.form-control(type='password', name='password', tabindex='2', placeholder='Password')
                   //-   .form-group
                   //-     input#confirm-password.form-control(type='password', name='confirm-password', tabindex='2', placeholder='Confirm Password')
                   //-   .form-group
                   //-     .row
                   //-       .col-sm-6.col-sm-offset-3
                   //-         input#register-submit.form-control.btn.btn-register(type='submit', name='register-submit', tabindex='4', value='Register Now')


 //- 