include ./head
include ./headuser
h1 login
.con
  span.pa name
  input(type='text')
.con
  span password
  input(type='password')
.con
  button#signin sign in
  button#signup sign up
  button#signup2 sign up!!	