#login.tab-pane.fade.in.active
     br
     input#username.form-control(type='text', name='username', tabindex='1', placeholder='Username')
     br

     input#password.form-control(type='password', name='password', tabindex='2', placeholder='Password')
     br


     .row
       .col-sm-6.col-sm-offset-3
         input#login-submit.form-control.btn.btn-login(type='submit', name='login-submit', tabindex='4', value='Log In')
