#regis.tab-pane.fade
         br
         input#name.form-control(type='text', name='username', placeholder='Name')
         br
         input#surname.form-control(type='text', name='username', placeholder='Surname')
         br
         input#dateofbirth.form-control.datepicker(type='text', name='username', placeholder='  Date of birth ( Select Date )')
         br
         input#tel.form-control(type='text', name='username', placeholder='Telephone Number')
         br
         input#citizenid.form-control(type='text', name='username', placeholder='Citizen ID')
         br
         input#email.form-control(type='email', name='email', placeholder='Email Address')
         br
         input#registerPassword.form-control(type='password', name='password', placeholder='Password')
         br
         input#confirmPassword.form-control(type='password', name='confirm-password', placeholder='Confirm Password')
         br
         .row
           .col-sm-6.col-sm-offset-3
             input#register-submit.form-control.btn.btn-register(type='submit', name='register-submit', tabindex='4', value='Register Now')
script(src='../../dist/js/register.js')
