include ./head
h2 #{page}
h1  #{patient}
.con.text-center
  span.center weight              
  input(type='double')
.con.text-center
  span.center hight     
  input(type='double')              
.con.text-center
  span.center temperature         
  input(type='double')
.con.text-center
  span.center simple pulse       
  input(type='int')
.con.text-center
  span.center blood pressure       
  input(type='int')
.con.text-center
  button submit
a.
 <span> max <span><h1> nn </h1>