include ./head
+navbarLogout('Appointment')
#patientMain.tab-pane.fade.in.active
  .container
   .row
     //#make.btn.btn-info Make Appointment
     #make.button.btn.btn-info.btn-md(type='button', data-toggle='modal', data-target='#makeModal') Add +
   include ./patientappointment            
   include ./patientappointment            
   include ./patientappointment            
include ./patientmakeModal
include ./patientchoosedateModal          
include ./patientcancelModal          
script(src='../dist/js/patient.js')
