include ./head
h1 patient

 nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') WebSiteName
          div
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(href='#') Page 1
            li
              a(href='#') Page 2
            li
              a(href='#') Page 3
               .container
               h3 Basic Navbar Example
               p A navigation bar is a navigation header that is placed at the top of the page.

                  .container
      button.btn.btn-info(type='button') Button


.container
      h2 Panel Group
      p
        | The panel-group class clears the bottom-margin. Try to remove the class and see what happens.
      .panel-group
        .panel.panel-default
          .panel-heading Panel Header
          .panel-body Panel Content
        .panel.panel-default
          .panel-heading Panel Header
          .panel-body Panel Content
        .panel.panel-default
          .panel-heading Panel Header
          .panel-body Panel Content
