include ./head
h1 patient
.panel.panel-login
 .panel-heading
   ul.nav.nav-tabs
              li.active
                a(data-toggle='tab', href='#login' ) Appointment
 .tab-content
        
        #patientMain.tab-pane.fade.in.active
          .container
           .row
             //#make.btn.btn-info Make Appointment
             #make.button.btn.btn-info.btn-md(type='button', data-toggle='modal', data-target='#makeModal') Add +
           .row
             .col-md-8.col-md-offset-2
               .panel.panel-default
                .row
                 #appane.panel-body.col-sm-8(style="margin: 0 0 0 20;")
                  .row(style="margin: 0 0 0 10;")
                    .col-md-2 เวลา
                    .col-xs-1 :
                    .col-md-5#time.color-grey 10 : 00
                  .row(style="margin: 0 0 0 10;")
                    .col-md-2 วันที่
                    .col-xs-1 :
                    .col-md-5#date.color-grey 25 / 12 / 58
                  .row(style="margin: 0 0 0 10;")
                    .col-md-2 แผนก
                    .col-xs-1 :
                    .col-md-5#department.color-grey อายุรกรรม
                  .row(style="margin: 0 0 0 10;")
                    .col-md-2 แพทย์
                    .col-xs-1 :
                    .col-md-5#doctor.color-grey พญ.ไพลิน จินดามณี
                 .col-sm-3
                  .row
                    #postpone.button.btn.btn-postpone.btn-pc.btn-md(type='button', data-toggle='modal', data-target='#PostponeModal') Postpone
                    //#postpone.btn.btn-success.btn-pc.col Postpone
                  .row
                    //#cancel.btn.btn-warning.btn-pc Cancel
                    #cancel.button.btn.btn-cancel.btn-pc.btn-md(type='button', data-toggle='modal', data-target='#CancelModal') Cancel
                    

           .row
             .col-md-8.col-md-offset-2
               .panel.panel-default
                .row
                 #appane.panel-body.col-sm-8(style="margin: 0 0 0 20;")
                  .row(style="margin: 0 0 0 10;")
                    .col-md-2 เวลา
                    .col-xs-1 :
                    .col-md-5#time.color-grey 10 : 00
                  .row(style="margin: 0 0 0 10;")
                    .col-md-2 วันที่
                    .col-xs-1 :
                    .col-md-5#date.color-grey 25 / 12 / 58
                  .row(style="margin: 0 0 0 10;")
                    .col-md-2 แผนก
                    .col-xs-1 :
                    .col-md-5#department.color-grey อายุรกรรม
                  .row(style="margin: 0 0 0 10;")
                    .col-md-2 แพทย์
                    .col-xs-1 :
                    .col-md-5#doctor.color-grey พญ.ไพลิน จินดามณี
                 .col-sm-3
                  .row
                    #postpone.button.btn.btn-postpone.btn-pc.btn-md(type='button', data-toggle='modal', data-target='#PostponeModal') Postpone
                    //#postpone.btn.btn-success.btn-pc.col Postpone
                  .row
                    //#cancel.btn.btn-warning.btn-pc Cancel
                    #cancel.button.btn.btn-cancel.btn-pc.btn-md(type='button', data-toggle='modal', data-target='#CancelModal') Cancel
                    
                  
        
          
         
          // make Modal
          #makeModal.modal.fade(role='dialog')
           .modal-dialog.modal-lg
            .modal-content
             .modal-header
               button.close(type='button', data-dismiss='modal') ×
               h4.modal-title Make New Appointment
             .modal-body

                 //h2 Vertical (basic) Form
                 form(role='form')
                 .form-group
                   label(for='Symtom') Symtom:
                   input#Symtom.form-control(type='text', placeholder='กรอกอาการป่วย')
                 .form-group
                   label(for='Cause') Cause:
                   input#Cause.form-control(type='text', placeholder='กรอกสาเหตุหากมี')
                 .form-group
                   label(for='Doctor') Doctor Name:
                   input#Docname.form-control(type='text', placeholder='ในกรณีที่ต้องการระบุแพทย์ที่ต้องการพบ')
                
                 .form-group
                   label(for='sel1') Department (select one):
                   select#sel1.form-control
                     option อายุรกรรม
                     option ศัลยกรรม
                     option กุมารเวชกรรม
                     option สูตินรีเวช
                     option ทันตกรรม
                     option เวชปฎิบัติ
                     option แพทย์เฉพาะทางอื่นๆ
                 

                 //- .dropdown
                 //-   button#Department.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                 //-    | Department
                 //-    span.caret
                 //-   ul.dropdown-menu(role='menu', aria-labelledby='menu1')
                 //-    li(role='presentation')
                 //-     a(role='menuitem', tabindex='-1', href='#') อายุรกรรม
                 //-    li(role='presentation')
                 //-     a(role='menuitem', tabindex='-1', href='#') ศัลยกรรม
                 //-    li(role='presentation')
                 //-     a(role='menuitem', tabindex='-1', href='#') กุมารเวชกรรม
                 //-    li(role='presentation')
                 //-     a(role='menuitem', tabindex='-1', href='#') สูตินรีเวช
                 //-    li(role='presentation')
                 //-     a(role='menuitem', tabindex='-1', href='#') ทันตกรรม
                 //-    li(role='presentation')
                 //-     a(role='menuitem', tabindex='-1', href='#') เวชปฎิบัติ
                 //-    li.divider(role='presentation')
                 //-    li(role='presentation')
                 //-     a(role='menuitem', tabindex='-1', href='#') แพทย์เฉพาะทางอื่นๆ
                 //-  br
                 //- script.
                 //-  $(document).ready(function(){
                 //-  $(".dropdown-toggle").dropdown("toggle");
                 //-  });
                 input#depart.form-control(type='text', placeholder='ในกรณีที่ต้องการระบุแพทย์เฉพาะทางอื่นๆ')

                 //.form-group
                   label(for='pwd') Password:
                   input#pwd.form-control(type='password', placeholder='Enter password')
                

             .modal-footer
               //button.btn.btn-default(type='submit') Submit
               #ChooseTime.button.btn.btn-default.btn-md(type='button', data-toggle='modal', data-dismiss='modal', data-target='#PostponeModal') Submit
               button.btn.btn-default(type='button', data-dismiss='modal') Close


          // postpone Modal
          #PostponeModal.modal.fade(role='dialog')
           .modal-dialog.modal-md
            .modal-content
             .modal-header
               button.close(type='button', data-dismiss='modal') ×
               h4.modal-title Choose Appointment Time
             .modal-body
                h4.modaltitle 
                 //h2 Vertical (basic) Form
                
          
                
                
              
                #listotherdate.list-group.addspace
                  label เวลานัดหมายที่เร็วที่สุด :
                  button.list-group-item(type='button') d1/m1/1111
                  br
                  label เวลานัดหมายอื่นๆ :
                  button.list-group-item(style="margin-bottom: 10px", type='button') d2/m2/2222
                  button.list-group-item(style="margin-bottom: 10px",type='button') d3/m3/3333
                  button.list-group-item(type='button') d4/m4/3333
                  
             .modal-footer
               button.btn.btn-default(type='submit') Submit
               button.btn.btn-default(type='button', data-dismiss='modal') Close

            // Cancle Modal
          #CancelModal.modal.fade(role='dialog')
           .modal-dialog.modal-lg
            .modal-content
             .modal-header
               button.close(type='button', data-dismiss='modal') x
               h4.modal-title Confirm to Cancel Appointment
             .modal-body
                h4.modal-title Confirm to Cancel Appointment
                #date.p Appointment Detail
                  
             .modal-footer
               button.btn.btn-default.btn-cancel(type='submit') Submit
               button.btn.btn-default.btn-cancel(type='button', data-dismiss='modal') Close

