include ./head
h1 patient
ul.nav.nav-tabs
              li.active
                a(data-toggle='tab', href='#login') Patient
             
.tab-content
        
        #login.tab-pane.fade.in.active
          .container
           .row
             #make.btn.btn-info Make Appointment
           .row
             .col-md-8.col-md-offset-2
               .panel.panel-default
                .row
                 #appane.panel-body.col-sm-8(style="margin: 0 0 0 20;") ไทย
                 .col-sm-3
                  .row
                    #postpone.btn.btn-success.btn-pc.col Postpone
                  .row
                    #cancel.btn.btn-warning.btn-pc Cancel

           .row
             .col-md-8.col-md-offset-2
               .panel.panel-default
                .row
                 #appane.panel-body.col-sm-8(style="margin: 0 0 0 20;") ไทย
                 .col-sm-3
                  .row
                    #postpone.btn.btn-success.btn-pc.col Postpone
                  .row
                    #cancel.btn.btn-warning.btn-pc Cancel
                    
                  

             