include ./head
h1 patient
ul.nav.nav-tabs
              li.active
                a(data-toggle='tab', href='#login') Login
             
       .tab-content
        .container
          .row
            #login.tab-pane.fade.in.active
             #make.btn.btn-info Make Appointment
             .col-md-6.col-md-offset-3 
              .panel.panel-default
               #appane.panel-body ไทย
               #postpone.btn.btn-success Postpone
               #cancel.btn.btn-warning Cancel
             .col-md-6.col-md-offset-3 
              .panel.panel-default
               #appane.panel-body ไทย
               #postpone.btn.btn-success Postpone
               #cancel.btn.btn-warning Cancel
                    
                  

             