#CancelModal.modal.fade(role='dialog')
 .modal-dialog.modal-lg
  .modal-content
   .modal-header
     button.close(type='button', data-dismiss='modal') x
     h4.modal-title Confirm to Cancel Appointment
   .modal-body
      h4.modal-title Confirm to Cancel Appointment
      #date.p Appointment Detail

   .modal-footer
     button.btn.btn-default(type='submit') Submit
     button.btn.btn-default(type='button', data-dismiss='modal') Close
