include ./head
h1 pharmacist- paltient detail 
.detail
  div #{patient.name}
  div #{patient.surname}
  div #{patient.gender}
  div #{patient.age}
.madicines
  .madicine
    .name  parasetamal
    .id DB1234W
  .madicine
    .name  flying rabbit
    .id DB34HQ
  .madicine
    .name  DSL
    .id DB235RE
.lose ยาที่แพ้
.madicines
  .madicine
    .name  parasell
    .id DB12re34W
  .madicine
    .name  bitty shit
    .id DB34HfQ
  .madicine
    .name  DSLR
    .id DB23d
