include ./head
h2 #{page}
h1  #{patient}
.con
  span weight
  input(type='text')
.con
  span hight
  input(type='text')
.con
  span blood pressure 
  input(type='text')
.con
  span simple symptom
  input(type='text')
.con
  button submit
