include ./head.jade
h1 index
h2  style
a(href='/') /
hr
br
a(href='/login') /login
hr
br
a(href='/register') /register
hr
br
a(href='/patient') /patient
hr
br
a(href='/doctor') /doctor
hr
br
a(href='/doctor/patient/macro') /doctor/patient/macro
hr
br
a(href='/nurse') /nurse
hr
br
a(href='/nurse/patient/stamp') /nurse/patient/stamp
hr
br
a(href='/hospitalstaff') /hospitalstaff
hr
br
a(href='/pharmacist') /pharmacist
hr
br
a(href='/pharmacist/patient/macro') /pharmacist/patient/macro
hr
br
